#modalVisualizarEmpleado{
    display: block;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, .5);
}
.titulo{
    width: 100%;
}
.ml-1 {
    margin-left: 1em;
}
.swal2-container.swal2-backdrop-show{
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, .5);
}
/* 
.swal2-modal{
    transform: scale(.75);
} */